{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container my-3">
        <p style="font-size:18px; color:white;" align="center">마지막 첨가물을 선택해주세요</p>
        <table class="table">
                <tr>
                        <td>
                                <button type="button" onclick="location.href='{% url 'guide:g_g_sparkling_result' %}'">
                                        <img src="{% static 'img/sparkling_water.jpg' %}" style="display:block;">탄산수
                                </button>
                        </td>
                </tr>
        </table>
</div>
{% endblock %}