{% extends 'bgi.html' %}
{% load static %}
{% block content %}
<h3 style="color:#000000; font-weight:bold; background-color:#ffffff">바텐딩 용어(Bartending Terms)-기주</h3>
<div class="container my-3">
        <div style="background-color:#000000; color:#ffffff;">
                <table class="table">
                        <tr>
                                <td>
                                        <img src="{% static 'img/vodka2.jpg' %}" style="display:block;">
                                </td>
                                <td style="vertical-align:middle;">
                                        <p style="font-size:22px; font-weight:bold; color:cyan;">보드카(Vodka)</p>
<p style="font-size:18px; color:white;">&nbsp보드카(러시아어: Водка, 폴란드어: wódka, 문화어: 워드카)는 동유럽 원산의 증류주이다. 러시아어로 물을 뜻하는 낱말 'вода 보다'에서 유래되었다. 보드카는 14~15세기부터 제조된 술로 제정 러시아 시대에는 제조법을 비밀로 부쳤으나, 1918년부터 제조기술이 유럽으로 전파되었고, 1933년에 일본으로 건너간 뒤 세계적으로 알려졌다. 보드카는 특이하게도 초기에는 약품의 목적으로 사용되었다.

보드카의 역사는 '보드카'라는 단어 자체의 기원(즉 어원)의 역사, 그리고 현대적인 주류로서의 보드카를 제조하는 기술의 역사를 따라간다.

용어이자 상업적인 명칭으로서 '보드카'가 현재의 의미를 가지게 된 것은 19세기의 일이다.</p>
                                </td>
                        </tr>
                        <tr>
                                <td>
                                        <img src="{% static 'img/gin.jpg' %}" style="display:block;">
                                </td>
                                <td style="vertical-align:middle;">
                                        <p style="font-size:22px; font-weight:bold; color:cyan;">진(Gin)</p>
<p style="font-size:18px; color:white;">&nbsp진(gin)은 호밀 등을 원료로 하고 두송자로 독특한 향기를 낸 무색투명한 술로 도수는 40∼47도이다. 주로 베르무트(vermouth)라는 리큐어를 섞어 칵테일의 하나인 마티니나 진 토닉을 만드는 데 사용한다. 또한 라임주스나 토닉워터와 같은 음료에 섞어 마시기도 한다.</p>
                                </td>
                        </tr>
                        <tr>
                                <td>
                                        <img src="{% static 'img/rum2.jpg' %}" style="display:block;">
                                </td>
                                <td style="vertical-align:middle;">
                                        <p style="font-size:22px; font-weight:bold; color:cyan;">럼(Rum)</p>
<p style="font-size:18px; color:white;">&nbsp럼(rum, 문화어: 람)은 럼주라고도 하며, 사탕수수를 착즙해서 설탕을 만들고 남은 찌꺼기인 당밀이나 사탕수수 즙을 발효시킨 뒤 증류한 술이다. 크리스토퍼 콜럼버스가 2차 항해 때 사탕수수 뿌리를 가져간 이후 사탕수수가 본격적으로 플랜테이션 재배되기 시작한 카리브해 지역, 브라질, 남아메리카 북부 지역이 그 기원이다. 영국 식민지, 스페인 식민지, 프랑스 식민지였던 곳에서 주로 지금까지도 만들고 있다. 럼의 도수는 최소 40도이며, 참나무 통에서 숙성을 얼마나 오래 시키는가에 따라서 투명, 연한 황갈색, 짙은 갈색을 띤다. 콜라와 섞어서 얼음을 넣어서 주로 마시며, 다양한 칵테일의 베이스가 된다.</p>
                                </td>
                        </tr>
                        <tr>
                                <td>
                                        <img src="{% static 'img/tequila.jpeg' %}" style="display:block;">
                                </td>
                                <td style="vertical-align:middle;">
                                        <p style="font-size:22px; font-weight:bold; color:cyan;">테킬라(Tequila)</p>
<p style="font-size:18px; color:white;">&nbsp테킬라(스페인어: Tequila)는 멕시코를 대표하는 증류주로서 알코올 농도는 35~55% 정도이며, 주 재료는 멕시코 할리스코주의 테킬라를 둘러싼 지역에만 서식하는 푸른 용설란이다. 1968년 멕시코시티 하계 올림픽에서 테킬라의 독특하고 강렬한 맛이 세계로 알려져 현재는 남아메리카와 북아메리카를 비롯한 세계 각지에서 널리 사랑받고 있다. 멕시코에서는 아무 것도 섞거나 곁들이지 않고 마시는 것이 보통이나, 국외에서는 주로 소금과 라임과 함께 즐기거나 혹은 마르가리타, 마타도르, 블러디 아즈텍 등의 칵테일의 베이스로 쓰인다.</p>
                                </td>
                        </tr>
                        <tr>
                                <td>
                                        <img src="{% static 'img/whisky.jpg' %}" style="display:block;">
                                </td>
                                <td style="vertical-align:middle;">
                                        <p style="font-size:22px; font-weight:bold; color:cyan;">위스키(Whisky)</p>
<p style="font-size:18px; color:white;">&nbsp위스키(영어: whisky 또는 whiskey, 문화어: 위스끼)는 맥아 및 기타 곡류를 당화 발효시킨 발효주를 증류하여 만든 술이다. 주로 보리, 옥수수, 호밀, 밀 등의 곡물이 원료가 된다. 증류 후에는 나무 통에 넣어 숙성시키는게 보통이다.

동방의 증류기술이 중세 십자군 전쟁을 통해 서양에 전래되어 후에 아일랜드를 거쳐 스코틀랜드에 전파되어 위스키가 탄생한 것으로 알려져 있다. 십자군 전쟁에 참여했던 가톨릭 수사들에 의해 아랍의 증류 기술이 유럽에 전해져 증류주를 만들게 된 것이다.

오늘날 위스키의 생산지로 유명한 국가는 스코틀랜드, 아일랜드, 미국, 캐나다, 일본이며 그 외에 대만, 인도, 독일, 호주 등에서도 위스키를 생산한다. 독자적인 위스키 문화를 발달시킨 아일랜드, 미국, 캐나다를 제외한 국가는 관례적으로 스카치 위스키의 제조방식과 분류 규정을 따르는 경향이 있다.</p>
                                </td>
                        </tr>
                        <!--tr>
                                <td>
                                        <img src="{% static 'img/paring_knife.jpg' %}" style="display:block;">
                                </td>
                                <td style="vertical-align:middle;">
                                        <p style="font-size:22px; font-weight:bold; color:cyan;">페어링 나이프-과도(Paring knife)</p>
<p style="font-size:18px; color:white;">&nbsp날카롭게 잘 벼려진 나이프는 홈 바텐딩 세계에서 없어서는 안되는 도구입니다. 과일을 으깨기 전에 빠르게 썰거나, 가니쉬용 레몬을 얇게 써는 데 사용하죠. 일반적인 식칼도 괜찮습니다만, 사이즈가 더 작은 과도가 사용하기 편합니다.</p>
                                </td>
                        </tr>
                        <tr>
                                <td>
                                        <img src="{% static 'img/peeler.jpg' %}" style="display:block;">
                                </td>
                                <td style="vertical-align:middle;">
                                        <p style="font-size:22px; font-weight:bold; color:cyan;">필러(Peeler)</p>
<p style="font-size:18px; color:white;">&nbsp가니쉬 이야기를 좀 하자면, 여러분의 홈 바에 좋은 필러를 하나 구비해두는 게 좋습니다. 필러가 있으면 전문가처럼 과일 껍질을 벗길 수 있고, 혹시나 손이 미끄러지더라도 페어링 나이프를 쓰는 것보다 다칠 위험이 적습니다. 물론 필러가 없다면 페어링 나이프를 사용하면 됩니다. 솔직히 말해서 작은 나이프보다 필러를 갖고 있을 가능성이 높을 것 같지만요.</p>
                                </td>
                        </tr>
                        <tr>
                                <td>
                                        <img src="{% static 'img/barspoon.jpg' %}" style="display:block;">
                                </td>
                                <td style="vertical-align:middle;">
                                        <p style="font-size:22px; font-weight:bold; color:cyan;">바 스푼(Bar Spoon)</p>
<p style="font-size:18px; color:white;">바 스푼은 가늘고 긴 모양의 숟가락입니다. 이게 있으면 Martini와 Old Fashioned 같은 칵테일을 더 쉽게 휘저을 수 있지요. 우리는 칵테일을 휘저을 때 큐브 얼음이 부서지지 않게 얼음과 액체가 빠르게 움직이도록 휘젓고 싶어 하죠. 바 스푼이 없다면 젓가락으로 휘젓고 티스푼을 이용해 떠내어도 됩니다</p>
                                </td>
                        </tr>
                        <tr>
                                <td>
                                        <img src="{% static 'img/mixing_glass.jpg' %}" style="display:block;">
                                </td>
                                <td style="vertical-align:middle;">
                                        <p style="font-size:22px; font-weight:bold; color:cyan;">믹싱 글래스(Mixing Glass)</p>
<p style="font-size:18px; color:white;">액체를 따르기 쉽도록 작은 주둥이가 있는 길고 넓은 모양의 글래스입니다. 다시 한 번 말하지만 잼 병이나 넓은 글래스 용기로 대체할 수 있습니다. 용기 사이즈가 칵테일을 휘저을 때 큐브 얼음이 움직일 수 있을 정도로 충분히 크기만 하면 됩니다.</p>
                                </td>
                        </tr-->
                </table>
        </div>
</div>
{% endblock %}