{% extends 'base.html' %}
{% load static %}
{% block content %}
<p style="font-size:18px; color:white;" align="center">두번째로 넣고 싶은 재료를 골라주세요</p>
<div class="container my-3">
        <table class="table">
                <tr>
                        <td>
                                <button type="button" onclick="location.href='{% url 'guide:t_orangejuice' %}'">
                                <img src="{% static 'img/orange_juice.jpg' %}" style="display:block;">오렌지주스
                                </button>
                        </td>
                        <td>
                                <button type="button" onclick="location.href='{% url 'guide:t_lemonjuice' %}'">
                                <img src="{% static 'img/lemon_juice.png' %}" style="display:block;">레몬주스
                                </button>
                        </td>
                        <td>
                                <button type="button" onclick="location.href='{% url 'guide:t_limejuice' %}'">
                                <img src="{% static 'img/lime_juice.jpg' %}" style="display:block;">라임주스
                                </button>
                        </td>
                </tr>
        </table>
</div>
{% endblock %}