<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom" style="color:#26b72b;">
    <a class="navbar-brand" href="{% url 'guide:index' %}" style="font-weight:bold; font-size:20px;">Hometending</a>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'guide:base' %}">길라잡이</a>
            </li>
        </ul>
    </div>
    <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'guide:how' %}">활용가이드</a>
            </li>
        </ul>
    </div>
    <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'guide:info' %}">Other Info</a>
            </li>
        </ul>
    </div>
</nav>