{% extends 'base.html' %}
{% load static %}
{% block content %}
<p style="font-size:18px; color:white;" align="center">베이스로 삼고 싶은 술을 골라주세요</p>
<div class="container my-3">
        <table class="table">
                <tr>
                        <td>
                                <button type="button" onclick="location.href='{% url 'guide:vodka' %}'">
                                <img src="{% static 'img/vodka2.jpg' %}" style="display:block;">보드카
                                </button>
                        </td>
                        <td>
                                <button type="button" onclick="location.href='{% url 'guide:rum' %}'">
                                <img src="{% static 'img/rum2.jpg' %}" style="display:block;">럼
                                </button>
                        </td>
                        <td>
                                <button type="button" onclick="location.href='{% url 'guide:tequila' %}'">
                                <img src="{% static 'img/tequila.jpeg' %}" style="display:block;">테킬라
                                </button>
                        </td>
                </tr>
                <tr>
                        <td>
                                <button type="button" onclick="location.href='{% url 'guide:gin' %}'">
                                <img src="{% static 'img/gin.jpg' %}" style="display:block;">진
                                </button>
                        </td>
                        <td>
                                <button type="button" onclick="location.href='{% url 'guide:whisky' %}'">
                                <img src="{% static 'img/whisky.jpg' %}" style="display:block;">위스키
                                </button>
                        </td>
                        <td>
                                <button type="button" onclick="location.href='{% url 'guide:vodka' %}'">
                                <img src="{% static 'img/wine.jpeg' %}" style="display:block;">와인
                                </button>
                        </td>
                </tr>
        </table>
</div>

{% endblock %}