{% extends 'base.html' %}
{% load static %}
{% block content %}
<h3>홈텐딩 길라잡이에 오신것을 환영합니다.</h3>
<div class="container my-3">
        <div>
        <table class="table">
                <tr>
                        <td><h3 style="color:white">홈텐딩 길라잡이는<br> 집에 있는 재료들로 만들수 있는<br> 간단한 칵테일 제조법을 알려주는 사이트입니다.</h3></td>
                </tr>
                <tr>
                        <td>
                                <button type="button" onclick="location.href='{% url 'guide:base' %}'">
                                <img src="{% static 'img/malibu_orange.jpg' %}" style="display:block;"> 홈텐딩 길라잡이 시작하기
                                </button>
                        </td>
                        <td>
                                <button type="button">
                                <img src="{% static 'img/bartending.jpg' %}" style="display:block;">그밖의 정보들
                                </button>
                        </td>
                </tr>
        </table>
        </div>


</div>
{% endblock %}